<div class="container shadow-sm pt-4 pl-4 pr-4 mb-5 bg-white rounded">
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">EDITAR PERFIL</span>
    </div>
  </div>
  <hr />

  <form [formGroup]="updateUsuario" (ngSubmit)="onUpdate()">
    <div class="row regular-row">
      <div class="col-3 label">
        <label class="col-form-label label">Documento</label>
      </div>
      <div class="col-sm-6">
        <select
          formControlName="tipo_identificacion"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f.tipo_identificacion.errors
          }"
        >
          <option *ngFor="let tipo of tipoIdentificacion">{{ tipo }}</option>
        </select>
        <div
          *ngIf="submitted && f.tipo_identificacion.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.tipo_identificacion.errors.required">
            Elige un tipo de Identificación
          </div>
        </div>
      </div>
    </div>

    <div class="row regular-row">
      <div class="col-3 label">
        <label class="col-form-label label">Identificación</label>
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="identificacion"
          [ngClass]="{
            'is-invalid': submitted && f.identificacion.errors
          }"
        />
        <div
          *ngIf="submitted && f.identificacion.errors"
          class="invalid-feedback"
        >
          <div *ngIf="f.identificacion.errors.required">
            La Identificacion es requerida
          </div>
        </div>
      </div>
    </div>

    <div class="row regular-row">
      <div class="col-3 label">
        <label class="col-form-label label">Nombre</label>
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="nombre"
          [ngClass]="{
            'is-invalid': submitted && f.nombre.errors
          }"
        />
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
          <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
        </div>
      </div>
    </div>

    <div class="row regular-row">
      <div class="col-3 label">
        <label class="col-form-label label">Apellido</label>
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="apellido"
          [ngClass]="{
            'is-invalid': submitted && f.apellido.errors
          }"
        />
        <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
          <div *ngIf="f.apellido.errors.required">El apellido es requerido</div>
        </div>
      </div>
    </div>

    <div class="row regular-row">
      <div class="col-3 label">
        <label class="col-form-label label">Email</label>
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="email"
          [ngClass]="{
            'is-invalid': submitted && f.email.errors
          }"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">El email es requerido</div>
          <div *ngIf="submitted && f.email.errors.pattern">
            Ingresa un email institucional
          </div>
        </div>
      </div>
    </div>

    <div class="row regular-row">
      <div class="col-3 label">
        <label class="col-form-label label">Estado</label>
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="estado"
          [ngClass]="{
            'is-invalid': submitted && f.estado.errors
          }"
        />
        <select
          formControlName="estado"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f.estado.errors
          }"
        >
          <option *ngFor="let estado of estadoUsuario.nombre">
            {{ estado }}
          </option>
        </select>
      </div>
    </div>

    <div class="row regular-row">
      <div class="col-3 label">
        <label class="col-form-label label">Dias de Permiso Disponibles</label>
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="dia_disponible"
          [ngClass]="{
            'is-invalid': submitted && f.dia_disponible.errors
          }"
        />
      </div>
    </div>

    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
      {{ error }}
    </div>

    <hr />

    <div class="row footer-row">
      <div class="col-sm-9">
        <button
          type="button"
          class="btn btn-secondary float-right"
          [routerLink]="['/home/solicitudes']"
        >
          Cancelar
        </button>
        <div class="col-sm-1"></div>
      </div>
      <div class="col-sm-2 form-group">
        <button
          [disabled]="loading"
          class="btn btn-green btn-success float-right"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
