<div class="container shadow-sm pt-4 pl-4 pr-4 mb-5 bg-white rounded">
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">ASOCIAR UN ESTADO A LA SOLICITUD</span>
    </div>
  </div>
  <hr />
  <!--<div class="row regular-row">
    <div class="col-4 label">id Comisión</div>
    <div class="col-8">123393939</div>
  </div>
  <div class="row regular-row">
    <div class="col-4 label">Solicitante</div>
    <div class="col-8">Daniela Andrea Torres Gómez</div>
  </div>
  <div class="row regular-row">
    <div class="col-4 label">C.C</div>
    <div class="col-8">123456789</div>
  </div>
  <div class="row regular-row">
    <div class="col-4 label">Departamento</div>
    <div class="col-8">Física</div>
  </div>
  <div class="row secondary-header-row">
    <div class="col">
      <a class="text-secondary">ESTADOS</a>
    </div>
  </div>
  <hr />
  <div class="container-fluid align-items-center">
     <app-ver-estados-comision></app-ver-estados-comision>
  </div>-->
  <form [formGroup]="agregarEstadosForm" (ngSubmit)="agregarEstado()">
    <div class="row header-row">
      <div class="col-4 label">Nuevo Estado</div>
      <div class="col-8">
        <select
          class="form-control"
          formControlName="estados_id"
          [ngClass]="{ 'is-invalid': submitted && f.estados_id.errors }"
        >
          <option
            [value]="estado.id | number"
            *ngFor="let estado of estados$ | async"
          >
            {{ estado.nombre }}
          </option>
        </select>
        <div *ngIf="submitted && f.estados_id.errors" class="invalid-feedback">
          <div *ngIf="f.estados_id.errors.required">Elige un nuevo Estado</div>
        </div>
      </div>
    </div>

    <div class="row regular-row">
      <div class="col-4 label">Observación</div>
      <div class="col-8">
        <div class="form-group">
          <textarea
            class="form-control"
            rows="3"
            formControlName="observacion"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="row header-row">
      <div class="col-4 label">ID de la Solicitud</div>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          disabled="disabled"
          formControlName="comisiones_id"
        />
      </div>
    </div>

    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
      {{ error }}
    </div>

    <hr />
    <div class="row footer-row">
      <div class="col-sm-9">
        <button
          type="button"
          class="btn btn-secondary float-right"
          [routerLink]="['/home/solicitudes']"
        >
          Cancelar
        </button>
        <div class="col-sm-1"></div>
      </div>
      <div class="col-sm-2 form-group">
        <button
          [disabled]="loading"
          class="btn btn-green btn-success float-right"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
