<div class="container shadow-sm pt-4 pl-4 pr-4 mb-5 bg-white rounded">
  <div class="row header-row">
    <div class="col">
      <a class="text-secondary">COMISIÓN</a>
    </div>
  </div>
  <hr />
  <div class="row regular-row">
    <div class="col-3 label">id</div>
    <div class="col-9">123393939</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Solicitante</div>
    <div class="col-3">Daniela Andrea Torres Gómez</div>
    <div class="col-3 label">C.C</div>
    <div class="col-3">123456789</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Fecha de Creación</div>
    <div class="col-3">20 Mar 2020</div>
    <div class="col-3 label">Fecha de Actualización</div>
    <div class="col-3">20 Mar 2020</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Idioma</div>
    <div class="col-3">Inglés</div>
    <div class="col-3 label">Lugar</div>
    <div class="col-3">USA</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Justificación</div>
    <div class="col-9">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Anexos</div>
    <div class="col-9"><i class="fas fa-circle"></i> Anexo 1</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Fecha Resolución</div>
    <div class="col-3">3 Ene 2021</div>
    <div class="col-3 label">Resolución</div>
    <div class="col-3"></div>
  </div>
  <div class="row"></div>
  <div class="row secondary-header-row">
    <div class="col">
      <a class="text-secondary">ESTADO ACTUAL DE LA COMISIÓN</a>
    </div>
  </div>
  <hr />
  <div class="row header-row">
    <div class="col-4"></div>
    <div class="col-4 label">Fecha</div>
    <div class="col-4 label">Observación</div>
  </div>
  <div class="row regular-row">
    <div class="col-4">
      <span class="badge badge-pill badge-success bg-green">Visto bueno</span>
    </div>
    <div class="col-4">4 Nov 2020</div>
    <div class="col-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>
  <div class="container-fluid secondary-header-row align-items-center">
    <app-ver-estados-comision></app-ver-estados-comision>
  </div>
  <hr />
  <div class="row footer-row">
    <div class="col-8">
      <button type="button" class="btn btn-success btn-green">
        Agregar Estado
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-danger">Eliminar</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-warning">Editar</button>
    </div>
  </div>
</div>
