<div
  *ngIf="solicitud"
  class="container shadow-sm pt-4 pl-4 pr-4 mb-5 bg-white rounded"
>
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">COMISIÓN</span>
    </div>
  </div>

  <hr />

  <div class="row regular-row">
    <div class="col-6 label">id</div>
    <div class="col-sm-6">{{ solicitud.id }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Tipo de Solicitud</div>
    <div class="col-sm-6">{{ solicitud.tipos_solicitud.nombre }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Solicitante</div>
    <div class="col-sm-6">
      {{ solicitud.usuarios.nombre }} {{ solicitud.usuarios.apellido }}
    </div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">C.C</div>
    <div class="col-sm-6">{{ solicitud.usuarios.identificacion }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Fecha de Creación</div>
    <div class="col-sm-6">{{ solicitud.createdAt | date }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Fecha de Actualización</div>
    <div class="col-sm-6">{{ solicitud.fecha_actualizacion | date }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Idioma</div>
    <div class="col-sm-6">{{ solicitud.idioma }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Lugar</div>
    <div class="col-sm-6">{{ solicitud.lugar }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-3 label">Justificación</div>
    <div class="col-sm-9">
      {{ solicitud.justificacion }}
    </div>
  </div>

  <div class="row regular-row">
    <div class="col-3 label">Anexos</div>
    <div class="col-sm-9"><i class="fas fa-circle"></i> Anexo 1</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Fecha Resolución</div>
    <div class="col-sm-6">{{ solicitud.fecha_resolucion | date }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-6 label">Resolución</div>
    <div class="col-6"></div>
  </div>

  <!-- ESTADO ACTUAL-->

  <div class="row"></div>
  <div class="row secondary-header-row">
    <div class="col">
      <span class="text-secondary">ESTADO ACTUAL DE LA COMISIÓN</span>
    </div>
  </div>

  <hr />

  <div class="row regular-row">
    <div class="col-4">
      <span class="badge badge-pill pill badge-primary">
        {{
          solicitud.intermediate_comisiones["intermediate_estados"]["nombre"]
        }}
      </span>
    </div>
    <div class="col-sm-4">
      {{ solicitud.intermediate_comisiones["fecha_actualizacion"] | date }}
    </div>
    <div class="col-8"></div>
  </div>

  <div class="row regular-row">
    <div class="col-4"></div>
    <div class="col-sm-8">
      {{ solicitud.intermediate_comisiones["observacion"] }}
    </div>
  </div>

  <div class="container-fluid secondary-header-row align-items-center">
    <app-ver-estados-comision></app-ver-estados-comision>
  </div>

  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
    {{ error }}
  </div>

  <hr />

  <div class="row footer-row">
    <div class="col-sm-4 float-right">
      <button type="button" class="btn btn-blue" [routerLink]="['estado']">
        Agregar Estado
      </button>
    </div>
    <div class="col-sm-3">
      <button
        type="button"
        class="btn btn-success btn-green float-right"
        [routerLink]="['/subir-cumplido']"
      >
        Subir cumplido
      </button>
    </div>
    <div class="col-sm-3">
      <button
        type="button"
        class="btn btn-danger float-right"
        (click)="delete(solicitud.id)"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Eliminar
      </button>
    </div>
    <div class="col-sm-3">
      <button
        type="button"
        class="btn btn-warning float-right"
        [routerLink]="['/home/editar-solicitud', solicitud.id]"
      >
        Editar
      </button>
    </div>
  </div>
</div>
