<div
  *ngIf="solicitud"
  class="container shadow-sm pt-4 pl-4 pr-4 mb-5 bg-white rounded"
>
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">COMISIÓN</span>
    </div>
  </div>
  <hr />
  <div class="row regular-row">
    <div class="col-3 label">id</div>
    <div class="col-3">{{ solicitud.id }}</div>
    <div class="col-3 label">Tipo de Solicitud</div>
    <div class="col-3">{{ solicitud.tipos_solicitud.nombre }}</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Solicitante</div>
    <div class="col-3">
      {{ solicitud.usuarios.nombre }} {{ solicitud.usuarios.apellido }}
    </div>
    <div class="col-3 label">C.C</div>
    <div class="col-3">{{ solicitud.usuarios.identificacion }}</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Fecha de Creación</div>
    <div class="col-3">{{ solicitud.createdAt | date }}</div>
    <div class="col-3 label">Fecha de Actualización</div>
    <div class="col-3">{{ solicitud.fecha_actualizacion | date }}</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Idioma</div>
    <div class="col-3">{{ solicitud.idioma }}</div>
    <div class="col-3 label">Lugar</div>
    <div class="col-3">{{ solicitud.lugar }}</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Justificación</div>
    <div class="col-9">
      {{ solicitud.justificacion }}
    </div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Anexos</div>
    <div class="col-9"><i class="fas fa-circle"></i> Anexo 1</div>
  </div>
  <div class="row regular-row">
    <div class="col-3 label">Fecha Resolución</div>
    <div class="col-3">{{ solicitud.fecha_resolucion | date }}</div>
    <div class="col-3 label">Resolución</div>
    <div class="col-3"></div>
  </div>
  <div class="row"></div>
  <div class="row secondary-header-row">
    <div class="col">
      <span class="text-secondary">ESTADO ACTUAL DE LA COMISIÓN</span>
    </div>
  </div>
  <hr />
  <div class="row regular-row">
    <div class="col-4">
      <span class="badge badge-pill pill badge-primary">
        {{
          solicitud.intermediate_comisiones["intermediate_estados"]["nombre"]
        }}
      </span>
    </div>
    <div class="col-4">
      {{ solicitud.intermediate_comisiones["fecha_actualizacion"] | date }}
    </div>
    <div class="col-8"></div>
  </div>
  <div class="row regular-row">
    <div class="col-4"></div>
    <div class="col-8">
      {{ solicitud.intermediate_comisiones["observacion"] }}
    </div>
  </div>
  <div class="container-fluid secondary-header-row align-items-center">
    <app-ver-estados-comision></app-ver-estados-comision>
  </div>
  <hr />
  <div class="row footer-row">
    <div class="col-4">
      <button type="button" class="btn btn-success btn-green">
        Agregar Estado
      </button>
    </div>
    <div class="col-4">
      <button
        type="button"
        class="btn btn-success btn-green"
        [routerLink]="['/subir-cumplido']"
      >
        Subir cumplido
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-danger">Eliminar</button>
    </div>
    <div class="col-2">
      <button
        type="button"
        class="btn btn-warning"
        [routerLink]="['/home/editar-solicitud', solicitud.id]"
      >
        Editar
      </button>
    </div>
  </div>
</div>
