<div class="modal-header">
  <h4 class="text-secondary">Historial de estados</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="table-responsive">
  <table class="table table-striped" *ngIf="intermediateComisiones">
    <thead>
      <tr>
        <th scope="col">Estado</th>
        <th scope="col">Fecha de Actualización</th>
        <th scope="col">Observación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inter of intermediateComisiones">
        <th>
          <ngb-highlight
            [result]="inter.intermediate_estados.nombre"
            class="badge badge-pill pill"
            [ngClass]="{
              'bg-solicitada':
                inter.intermediate_estados.nombre === 'SOLICITADA',
              'bg-aprobada': inter.intermediate_estados.nombre === 'APROBADA',
              'bg-visto-bueno':
                inter.intermediate_estados.nombre === 'VISTO BUENO',
              'bg-finalizada':
                inter.intermediate_estados.nombre === 'FINALIZADA',
              'bg-rechazada-decanato':
                inter.intermediate_estados.nombre === 'RECHAZADA DECANATO',
              'bg-rechazada-coordinacion':
                inter.intermediate_estados.nombre === 'RECHAZADA COORDINACIÓN'
            }"
          ></ngb-highlight>
        </th>
        <td>
          <ngb-highlight
            [result]="inter.fecha_actualizacion | date"
          ></ngb-highlight>
        </td>
        <td><ngb-highlight [result]="inter.observacion"></ngb-highlight></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Cerrar
  </button>
</div>
