<ng-sidebar-container class="ng-sidebar-container">
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened">
    <div class="ng-sidebar">
      <div style="margin: 23px">
        <div>
          <div class="close-sidebar">
            <a closeSidebar style="font-size: 300%">&times;</a>
          </div>
          <div class="sidebar-header">
            <span class="user-pic">
              <i class="fas fa-user-circle"></i>
            </span>
            <!-- <img src="./icon.png" alt=""> -->
          </div>
          <div class="user-info">
            <span class="user-name">
              {{ Name }}
              <br />
              {{ LastName }}
            </span>
            <br />
            <span class="user-role">
              <span class="user-status">
                <i class="fa fa-circle"></i>
              </span>
              {{ Role }}
            </span>
          </div>
          <!-- sidebar-header  -->
          <hr color="#f5f5f5" />
          <div class="create-request">
            <button type="button" class="btn-request">
              <span style="color: #ffff; margin: 0">
                <i class="fas fa-plus-circle"></i>
              </span>
              Crear Solicitud
            </button>
          </div>
          <!-- sidebar-search  -->
          <hr color="#f5f5f5" />
          <div class="sidebar-menu">
            <div class="header-menu">
              <span>GENERAL</span>
            </div>
            <ul>
              <li>
                <a href="#">
                  <span>
                    <i class="far fa-user"></i>
                    Mi Perfil
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    <i class="fas fa-home"></i>
                    Solicitudes
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    <i class="fas fa-info-circle" style="color: #000"></i>
                    Información
                  </span>
                </a>
              </li>
            </ul>
            <div class="header-menu">
              <span> ESPECÍFICO </span>
            </div>
            <ul>
              <li>
                <a href="#">
                  <span>
                    <i class="far fa-building"></i>
                    Departamentos
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    <i class="fas fa-university"></i>
                    Facultades
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <!-- sidebar-menu  -->
          <!-- sidebar-content  -->
          <div class="sidebar-footer">
            <hr />
            <a (click)="onLogout()">
              <span>
                <i class="fas fa-power-off"></i>
                Cerrar Sesi&oacute;n
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <!-- Page content -->.
  <div ng-sidebar-content class="sidebar-content">
    <div>
      <div style="margin-left: -10px; margin-top: 5px">
        <button
          (click)="_toggleSidebar()"
          type="button"
          class="hamburger is-closed"
          data-toggle="offcanvas"
        >
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>

        <!-- <a class="btn btn-light" (click)="_toggleSidebar()" >
          <span style="font-size: 200%;">&#9776;</span>
        </a>  -->
      </div>
      <div class="sidebar-small-menu">
        <div class="user-icon">
          <span>
            <i class="fas fa-user-circle"></i>
          </span>
        </div>

        <!-- <img src="./icon.png" alt=""> -->

        <!-- sidebar-header  -->
        <hr color="#f5f5f5" />
        <div>
          <button
            type="button"
            (click)="irCrearSolicitud()"
            class="btn-small-request"
            title="Crear Solicitud"
          >
            <span>
              <i class="fas fa-plus-circle"></i>
            </span>
          </button>
        </div>
        <hr color="#f5f5f5" />
        <!-- sidebar-search  -->
        <div class="sidebar-small-menu">
          <div>
            <button
              type="button"
              (click)="irPerfil()"
              class="icon-small-sidebar"
              title="Mi Perfil"
            >
              <span>
                <i class="far fa-user"></i>
              </span>
            </button>
          </div>
          <div class="sidebar-small-menu">
            <button
              type="button"
              (click)="irHome()"
              class="icon-small-sidebar"
              title="Solicitudes"
            >
              <span>
                <!--<i class="far fa-file-alt"></i>-->
                <i class="fas fa-home"></i>
              </span>
            </button>
          </div>

          <hr color="#f5f5f5" />

          <div style="margin-top: inherit">
            <button class="margin-icon">
              <span title="Informacion">
                <i class="fas fa-info-circle"></i>
              </span>
            </button>
          </div>

          <hr color="#f5f5f5" />

          <div class="sidebar-small-menu">
            <button
              type="button"
              (click)="verUsuarios()"
              class="icon-small-sidebar"
              title="Ver Usuarios"
            >
              <span>
                <i class="fas fa-users"></i>
              </span>
            </button>
          </div>
          <div class="sidebar-small-menu">
            <button class="icon-small-sidebar" title="Departamentos">
              <span>
                <i class="far fa-building"></i>
              </span>
            </button>
          </div>
          <div class="sidebar-small-menu">
            <button class="icon-small-sidebar" title="Facultades">
              <span>
                <i class="fas fa-university"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- sidebar-menu  -->
    <!-- sidebar-content  -->
    <hr />
    <div class="sidebar-small-footer">
      <a (click)="onLogout()">
        <span title="Cerrar Sesi&oacute;n">
          <i class="fas fa-power-off"></i>
        </span>
      </a>
    </div>
  </div>
</ng-sidebar-container>
