.pill {
    color: aliceblue;
}

.bg-aprobada {
    background-color: #005F21;
}

.bg-solicitada {
    background-color: #3381B5;
}

.bg-finalizada {
    background-color: #6C767D;
}

.bg-visto-bueno {
    background-color: #3AB795;
}

.bg-rechazada-decanato {
    background-color: #FF6666;
}

.bg-rechazada-coordinacion {
    background-color: #FF6666;
}