<div
  *ngIf="error"
  class="container shadow-sm pt-4 pl-4 pr-4 pb-3 mb-5 bg-white rounded"
>
  <div class="alert alert-danger mt-3 mb-0">
    {{ error }}
  </div>
</div>

<div
  *ngIf="usuario"
  class="container shadow-sm pt-4 pl-4 pr-4 mb-5 bg-white rounded"
>
  <div class="row header-row">
    <div class="col">
      <span class="text-secondary">PERFIL</span>
    </div>
  </div>
  <hr />

  <div class="row regular-row">
    <div class="col-4 label">Documento</div>
    <div class="col-sm-8">{{ usuario.tipo_identificacion }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Identificación</div>
    <div class="col-sm-8">{{ usuario.identificacion }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Nombre</div>
    <div class="col-sm-8">{{ usuario.nombre }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Apellido</div>
    <div class="col-sm-8">{{ usuario.apellido }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Email</div>
    <div class="col-sm-8">{{ usuario.email }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Estado</div>
    <div class="col-sm-8">{{ usuario.estado }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Dias de Permiso Disponibles</div>
    <div class="col-sm-8">{{ usuario.dia_dispobible }}</div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Facultad</div>
    <div class="col-sm-8">
      {{ usuario.departamentos.facultad.nombre }}
    </div>
  </div>

  <div class="row regular-row">
    <div class="col-4 label">Departamento</div>
    <div class="col-sm-8">{{ usuario.departamentos.nombre }}</div>
  </div>

  <hr />
  <div class="row footer-row">
    <div class="col-sm-4">
      <button
        type="button"
        class="btn btn-secondary float-right"
        [routerLink]="['/home/solicitudes']"
      >
        Cancelar
      </button>
    </div>
    <div class="col-sm-4">
      <button
        type="button"
        class="btn btn-green btn-success"
        [routerLink]="['/usuarios/modificar-contrasena', usuario.id]"
      >
        Modificar Contraseña
      </button>
    </div>

    <div class="col-sm-4">
      <button
        type="button"
        class="btn btn-warning"
        [routerLink]="['/usuarios/editar-perfil', usuario.id]"
      >
        Editar Información
      </button>
    </div>
  </div>
  <div class="row footer-row"></div>
</div>
