body {
    background-color: #eaebf0ec;
    font-family: 'Montserrat';
    color: #4b555a;
    height: 100vh;
}

.container {
    margin-top: 10px;
}

.hr {
    border: none;
    height: 1px;
    background-color: #333;
}

input:focus,
.form-select:focus,
.form-control:focus {
    border: 1px solid #57cc99 !important;
    box-shadow: 0 0 0 3px #C7F9CC !important;
}

.label {
    font-family: 'Poppins', sans-serif;
    color: #22577a;
}

.header-row {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
}

.secondary-header-row {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.regular-row {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-row {
    padding-bottom: 20px;
}

.alert-success {
    background-color: #C7F9CC;
}

.btn-green {
    color: #fff;
    background-color: #3AB795;
    border-color: #3AB795;
}

.btn-green:hover {
    background-color: #31a37f;
}

.btn-blue {
    background-color: #134771;
    border-color: #22577A;
    color: #fff;
}

.btn-blue:hover {
    background-color: #0f385a;
    color: #fff;
}

.bg-blue {
    background-color: #134771;
}

.bg-green {
    background-color: #3AB795;
}

.footer {
    background-color: #134771;
    color: #fff;
}

.paggination {
    background-color: #31a37f;
}