body {
    background-color: #eaebf0ec;
    font-family: 'Montserrat';
    color: #22577A;
    height: 100vh;
}

.hr {
    border: none;
    height: 1px;
    background-color: #333;
}

input:focus,
.form-select:focus,
.form-control:focus {
    border: 1px solid #57cc99 !important;
    box-shadow: 0 0 0 3px #C7F9CC !important;
}

.container {
    margin-top: 10px;
}

.header-row {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
}

.secondary-header-row {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.regular-row {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.label {
    font-family: 'Poppins', sans-serif;
    color: #22577a;
}

.footer-row {
    padding-bottom: 20px;
}

.alert-success {
    background-color: #C7F9CC;
}

.btn-green {
    color: #fff;
    background-color: #3AB795;
    border-color: #3AB795;
}

.btn-green:hover {
    background-color: #31a37f;
}

.span-a {
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
}

.btn-blue {
    background-color: #22577A;
    border-color: #22577A;
}

.btn-blue:hover {
    background-color: #134771;
}

.bg-blue {
    background-color: #3381B5;
}

.bg-green {
    background-color: #3AB795;
}


/* sidebar */

.ng-sidebar {
    background: #ffffff;
    width: 180px;
    height: 100%;
    position: fixed;
    left: 0;
}

.sidebar-content {
    width: 60px;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #ffff;
    position: fixed;
    left: 0;
}

.icon-user {
    color: #57CC99;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.margin-icon {
    margin-top: 15px;
}

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}


/* .hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  }
  .hamburger.is-open .hamb-middle { display: none; }
  .hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  } */

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}